# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
*.nupkg
*.snupkg
.dotenv
~$*
CodeCoverage/
*.binlog
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

# C/C++ compiled
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.so.*
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
build/
Build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
vcpkg_installed/
*.dwo
Testing/
.cache/

# Rust
debug/
target/
**/*.rs.bk
**/mutants.out*/

# Go
*.exe~
*.test
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum

# Common
*.tmp
*.log
*.bak
*.swp
.env
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.user
*.suo

.fake

.shards/
*.dwarf
